.jumbotron {
    background-image: url("../img/pizza.png");
    height: 346px;
    background-size: cover;
    text-align: center;
}

.bg-light {
    opacity: 50%;
}

.btn {
    width: fit-content;
}